* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background: #494747;
    color: white;
}

.site {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    font-size: 20px;
    font-weight: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    color: rgb(251, 251, 251);
}

.headerLinks {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
}

.footerLinks {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: ghostwhite;
    text-shadow: 0px 0px 4px white;
}

a:hover {
    color: rgb(222, 98, 36);
}


.searchContainer {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(225, 157, 49);
}

.searchBar {
    width: 400px;
    height: 60px;
    background-color: rgb(216, 123, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 16px;
    display:flex;
    gap:10px;

}

.filterButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

button {
    background-color: rgb(240, 197, 150);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(128, 94, 0);
    color: orange;
}

.projectsContainer1 {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, orange, red);
    align-items: center;
    text-align: center;
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 100px;
}

.imageContainer img {
    width: 200px;
    height: 150px;
    margin-top: 50px;
    border-radius: 6px;
}

.imageContainer {
    width: 400px;
    height: 400px;
    background-color: white;
    color: orange;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.imageContainer:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 8px 0px rgb(238, 238, 255);
    border: 2px solid red;
}